/mvnw text eol=lf
*.cmd text eol=crlf
# Tell GitHub linguist to ignore frontend files
*.html linguist-detectable=false
*.css linguist-detectable=false
*.js linguist-detectable=false

# Prioritize Java
*.java linguist-language=Java
